fullnameOverride: gateway

image:
  name: gateway

ports:
  - containerPort: 8080

env:
  SPRING_PROFILES_ACTIVE: "docker"

livenessProbe_enabled: true
livenessProbe:
  httpGet:
    scheme: HTTP
    port: 8080
readinessProbe_enabled: true
readinessProbe:
  httpGet:
    scheme: HTTP
    port: 8080

service:
  type: NodePort
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30080
