server.forward-headers-strategy: framework

management:
  endpoint:
    health:
      show-details: "ALWAYS"
  endpoints:
    web:
      exposure:
        include: "health,info"
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

springdoc:
  swagger-ui.path: /api/v1/restaurants/openapi/swagger-ui.html
  api-docs.path: /api/v1/restaurants/openapi/v3/api-docs
  packagesToScan: dev.kmunton.restaurantcompositeservice
  pathsToMatch: /**

api:

  common:
    version: 0.1.0
    title: Lunchtime Restaurants API
    description: Find restaurants arround a given address for lunch
    termsOfService: MY TERMS OF SERVICE
    license: MY LICENSE
    licenseUrl: MY LICENSE URL

    externalDocDesc: MY WIKI PAGE
    externalDocUrl: MY WIKI URL
    contact:
      name: K Munton
      url: kmunton.dev
      email: github@kmunton.dev

  responseCodes:
    ok.description: OK
    badRequest.description: Bad Request, invalid format of the request. See response message for more information
    notFound.description: Not found, no latitude and longitude values could be found for the specified address
    unprocessableEntity.description: Unprocessable entity, input parameters caused the processing to fail. See response message for more information

  restaurant-composite:
    get-restaurants-by-address:
      description: Returns a list of restaurants based on address and radius distance provided
      notes: |
        # Normal response
        If the requested address has a lat and lng and distance is not too small, api will return:
        1. List of restaurants
        1. Site information

        # Expected partial and error responses
        In the following cases, only a partial response be created (used to simplify testing of error conditions)

        ## Distance too small ie 0.001
        200 - Ok, but no restaurants returned

        ## Non-numerical distance
        400 - A **Bad Request** error will be returned

        ## Address could not be convereted into lat and lng
        404 - A **Not Found** error will be returned

        ## Invalid distance ie -1
        422 - An **Unprocessable Entity** error will be returned

    post-restaurants:
      description: Add a restaurant around a particular site
      notes: |
        # Normal response
        1. Restaurant Object


server.port: 7000
spring.zipkin.sender.type: web

spring.application.name: restaurant-composite

app:
  admin-username: ${admin_username}
  admin-password: ${admin_password}



logging:
  level:
    root: INFO
    dev.kmunton.microservices: DEBUG

server.shutdown: graceful
spring.lifecycle.timeout-per-shutdown-phase: 10s
---
spring.config.activate.on-profile: docker

server.port: 80

spring.zipkin.baseUrl: http://${app.admin-username}:${app.admin-password}@zipkin-server:9411/

