management:
  endpoint:
    health:
      show-details: "ALWAYS"
  endpoints:
    web:
      exposure:
        include: "health"


server.port: 7006

spring.application.name: review
spring.zipkin.sender.type: web

app:
  eureka-username: ${admin_username}
  eureka-password: ${admin_password}
  eureka-server: localhost

eureka:
  client:
    serviceUrl:
      defaultZone: http://${app.eureka-username}:${app.eureka-password}@${app.eureka-server}:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

logging:
  level:
    root: INFO
    dev.kmunton.microservices: DEBUG

spring:
  jpa:
    hibernate:
      ddl-auto: none
    database: POSTGRESQL
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  datasource:
    initialization-mode: NEVER
    platform: postgres
    url: jdbc:postgresql://localhost:5432/lunchtime?user=testuser&password=${postgres_password}&sslmode=require
    username: testuser
    password: ${postgres_password}
    driver-class-name: org.postgresql.Driver

---
spring.config.activate.on-profile: docker

app.eureka-server: eureka

server.port: 8080

spring.datasource.url: jdbc:postgresql://postgres:5432/lunchtime?user=testuser&password=${postgres_password}

spring.zipkin.baseUrl: http://${app.eureka-username}:${app.eureka-password}@zipkin:9411/
