management:
  endpoint:
    health:
      show-details: "ALWAYS"
      probes:
        enabled: true
      group:
        readiness:
          include: db
  endpoints:
    web:
      exposure:
        include: "health,info"
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true


server.port: 7004
spring.zipkin.sender.type: web

spring.application.name: restaurant

app:
  admin-username: ${admin_username:admin}
  admin-password: ${admin_password:password}

logging:
  level:
    root: INFO
    dev.kmunton.microservices: DEBUG

spring:
  jpa:
    hibernate:
      ddl-auto: update
    database: POSTGRESQL
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  datasource:
    initialization-mode: NEVER
    platform: postgres
    url: jdbc:postgresql://localhost:5432/${postgres_db:lunchtime}
    username: ${postgres_user:testuser}
    password: ${postgres_password:password}
    driver-class-name: org.postgresql.Driver

server.shutdown: graceful
spring.lifecycle.timeout-per-shutdown-phase: 10s
---
spring.config.activate.on-profile: docker

server.port: 80

spring.datasource.url: jdbc:postgresql://${postgres_host}:${postgres_port}/${postgres_db}?sslmode=require
spring.datatsource.username: ${postgres_user}
spring.datasource.password: ${postgres_password}

spring.zipkin.baseUrl: http://${app.admin-username}:${app.admin-password}@zipkin-server:9411/
